/*
    MAIN
 */
* {
    font-family: 'Poppins', sans-serif!important;
}

/*
    TOPBAR
 */
.topbar {
    background-color: rgba(38,139,216,1);
}
.topbar .rs a, .topbar p {
    color: #FFF;
}
.topbar .rs a {
    margin: 1rem 10px;
}
@media(max-width: 991px) {
    .topbar {
        display: none;
    }
}

/*
    NAVBAR
 */
nav {
    background-color: #000!important;
}
nav a {
    color: #FFF!important;
}
nav .content a:hover {
    background-color: rgba(38,139,216,1);
}
nav a.logo:hover {
    transform: scale(0.9);
    background-color: transparent;
}
nav.fixedYl {
    top: 0;
    position: fixed;
    width: 100%;
}
@media(max-width: 991px) {
    nav .logo {
        text-align: center;
        margin-top: 10px!important;
    }
    nav .content {
        background-color: #000;
        z-index: 10;
    }
}

/*
    SECTION MAIN
 */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}
section .titre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

/*
    SLIDER
 */
.swiper-container {
    height: 70vh;
    display: flex;
}
.swiper-container .swiper-slide {
    background-size: 100%;
    background-position: center;
    -webkit-transition: background-size .2s ease-in-out;
    -moz-transition: background-size .2s ease-in-out;
    -o-transition: background-size .2s ease-in-out;
    -ms-transition: background-size .2s ease-in-out;
    transition: background-size .2s ease-in-out;
    display: flex;
}
@media(min-width: 991px) {
    .swiper-container:hover .swiper-slide {
        background-size: 105%;
    }
}
.swiper-container:hover .swiper-slide {
    box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);
}
.swiper-container .swiper-slide .container {
    margin-top: auto;
    margin-bottom: auto;
}
.swiper-container .swiper-slide h2 {
    color: #404850;
    font-size: 7vw;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 50px;
}
.swiper-container .swiper-slide p {
    color: #FFF;
}
.btn.template {
    text-decoration: none;
    position: relative;
    background: transparent;
    padding: 14px 0;
    top: 0;
    left: 0;
    transform: translate(-5px, 5px);
    transition: all .2s ease-in-out;
}
.btn.template i {
    border: 3px solid #404850;
    position: relative;
    padding: 14px 20px;
    background: #000;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .1em;
    z-index: 1;
}
.btn.template:after {
    position: absolute;
    content: "";
    background: #000;
    height: 100%;
    border: 2px solid #404850;
    top: 4px;
    left: -5px;
    transition: all .2s ease-in-out;
    width: calc(100% - 4px);
}
.swiper-container:hover .btn.template {
    top: 5px!important;
    left: -4px!important;
    transform: translate(-5px, 5px)!important;
    transition: all .2s ease-in-out;
}
.swiper-container:hover .btn.template:after {
    top: -2px;
    left: 0;
    transition: all .2s ease-in-out;
}
@media(max-width: 991px) {
    .swiper-container {
        height: 40vh;
    }
    .swiper-container .swiper-button-next, .swiper-container .swiper-button-prev, .swiper-container p {
        display: none;
    }
    .swiper-container .swiper-slide .w-50 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .swiper-container .swiper-slide h2 {
        font-size: 38px;
        text-align: center;
    }
    .swiper-container .swiper-slide a {
        margin: auto auto 20px auto;
    }
    .swiper-container .swiper-slide {
        background-size: cover;
    }
}

/*
    NEWS
 */
#news {
    background-color: #F1F1F1;
}
#news .content {
    overflow: hidden;
    position: relative;
}
#news .content .container {
    transition-duration: 1s;
}
#news .pagination-left, #news .pagination-right {
    font-size: 35px;
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
}
#news .pagination-left {
    position: absolute;
    left: 0;
    right: auto;
    top: calc(50% - 53px);
    padding: 10px 23px 10px 20px;
}
#news .pagination-right {
    position: absolute;
    right: 0;
    left: auto;
    top: calc(50% - 53px);
    padding: 10px 20px 10px 23px;
}
#news .item {
    max-width: 400px;
    height: 400px;
    position: relative;
    margin-right: 85px;
}
#news .item:last-child {
    margin-right: 0;
}
#news .item .top {
    height: 400px;
}
#news .item .top img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition-duration: .2s;
}
#news .item .bottom {
    background-color: #FFF;
    margin-left: 20px;
    position: absolute;
    bottom: 40px;
    width: calc(400px - 20px);
    padding: 0 20px;
    transition-duration: .2s;
}
#news .item .bottom p {
    text-transform: uppercase;
    margin-top: 0;
}
#news .item .bottom h3 {
    margin-bottom: 0;
}
#news .item:hover .top img {
    transform: translate(0, 5px);
    transition-duration: .2s;
}
#news .item:hover .bottom {
    transform: translate(0, -5px);
    transition-duration: .2s;
}
#news .menu .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#news .menu .container .left {
    display: flex;
    flex-direction: row;
}
#news .menu .container a {
    padding: 15px 30px;
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
}
#news .menu .container a.active {
    background-color: #000;
    color: #FFF;
}
@media(max-width: 991px) {
    #news .menu .container {
        justify-content: center;
    }
    #news .menu .container .left {
        display: none;
    }
    #news .item {
        max-width: 80vw;
        height: 80vw;
        margin-right: 10vw;
    }
    #news .item .top {
        height: 80vw;
    }
    #news .item .top img {
        width: 80vw;
        height: 70vw;
    }
    #news .item .bottom {
        bottom: 0;
        width: calc(80vw - 20px);
    }
    #news .pagination-left, #news .pagination-right {
        display: none;
    }
    #news .content {
        overflow: scroll;
    }
    #news .item:last-child {
        max-width: calc(80vw + 15px);
        width: calc(80vw + 15px);
        padding-right: 15px;
    }
    #news .item:last-child .top img {
        width: 80vw;
    }
}

/*
    NEWSLETTER
 */
#newsletter .container {
    background-size: 100%;
    box-shadow: inset 0px 0px 300px 200px rgba(255,255,255,0.7);
    padding: 50px 60px;
    display: flex;
}
#newsletter .container .w-size {
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 900;
}
#newsletter .container .w-size p {
    font-size: 30px;
    margin-bottom: 0;
}
#newsletter .container .w-size h2 {
    color: rgba(38,139,216,1);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}
#newsletter .container .w-size .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#newsletter .container .w-size .input-group input {
    border: 2px rgba(38,139,216,1) solid;
    padding: 15px;
}
#newsletter .container .w-size .input-group  button {
    border: 2px rgba(38,139,216,1) solid;
    background-color: rgba(38,139,216,1);
    color: #FFF;
    font-size: 20px;
    padding: 5px 15px 5px 10px;
}
#newsletter .container p {
    margin-top: 0;
}
@media(max-width: 991px) {
    #newsletter .container {
        background-size: cover;
        background-position: center;
        padding: 20px;
    }
    #newsletter .container .w-size {
        width: 100%;
    }
    #newsletter .container .w-size p {
        font-size: 22px;
    }
    #newsletter .container .w-size h2 {
        font-size: 32px;
    }
}

/*
    INSTAGRAM
 */
#instagram {
    background-color: rgba(38,139,216,1);
    text-align: center;
    color: #FFF;
}
#instagram .btn.template {
    top: 0;
    left: 0;
    transform: translate(-5px, 5px);
    transition: all .2s ease-in-out;
}
#instagram .btn.template i {
    background-color: rgba(38,139,216,1);
    border: 3px solid #FFF;
}
.btn.template:hover {
    top: 5px!important;
    left: -4px!important;
    transform: translate(-5px, 5px)!important;
    transition: all .2s ease-in-out;
}
#instagram .btn.template::after {
    background-color: rgba(38,139,216,1);
    border: 3px solid #FFF;
}
.btn.template:hover::after {
    top: -2px;
    left: 0;
    transition: all .2s ease-in-out;
}

/*
    FOOTER
 */
footer {
    background-color: #000;
    padding: 10px 0;
    color: #FFF;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .container a {
    color: rgba(38,139,216,1);
    text-decoration: none;
}
@media(max-width: 991px) {
    footer .container {
        flex-direction: column;
    }
    footer .container .right {
        text-align: center;
    }
}